@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Conferma Registrazione";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel App</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="card-body">
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p>
                            Al momento questa app non ha un vero mittente e-mail registrato, consulta <a href="https://aka.ms/aspaccountconf"><strong>questi documenti</strong></a> per sapere come configurare un vero mittente e-mail.
                            Normalmente questo verrebbe inviato via email: <a id="confirm-link" href="@Model.EmailConfirmationUrl"><strong>Fai clic qui per confermare il tuo account</strong></a>.
                        </p>
                    }
                    else
                    {
                        <p>
                            Perfavore, controlla la tua mail per confermare il tuo account.
                        </p>
                    }
                }
            </div>
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
</body>
</html>






