@model travel_app.Models.Travel

@{
    ViewData["Title"] = "Crea Viaggio";
}

<!--Card-->
<div class="card">
    <!--Card Header -->
    <div class="card-header">
        <h2>Creazione nuovo viaggio</h2>
    </div>
    <!--Card body -->
    <div class="card-body">
        <!--<table id="example1" class="table table-bordered table-striped">-->
        <div class="row">
            <div class="col-md-12">
                <!--form-->
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <!-- Titolo viaggio-->
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Descrizione -->
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" > </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Inzio viaggio -->
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label"></label>
                                <input asp-for="StartDate" type="date" class="form-control" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Fine viaggio -->
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label asp-for="EndDate" class="control-label"></label>
                                <input asp-for="EndDate" type="date" class="form-control" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                      
                    </div>

                    <!-- Bottoni -->
                    <div class="form-group">
                        <div class="row">
                            <!-- Conferma -->
                            <div class="col-md-2 ">
                                <input type="submit" value="Crea" class="btn btn-primary" />
                            </div>
                            <!-- Torna all' Travels/INDEX -->
                            <div class="col-md-2 ">
                                <a asp-action="Index" class="btn btn-danger">Torna Alla lista</a>
                            </div>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--
<h4>Travel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CretedById" class="control-label"></label>
                <input asp-for="CretedById" class="form-control" />
                <span asp-validation-for="CretedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CretedOn" class="control-label"></label>
                <input asp-for="CretedOn" class="form-control" />
                <span asp-validation-for="CretedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedById" class="control-label"></label>
                <input asp-for="ModifiedById" class="form-control" />
                <span asp-validation-for="ModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
